<h1>Edit Item</h1>

<%= form_for @listings do |f| %> 
	<%= f.label :item %>
	<%= f.text_field :item, autofocus: true %>

	<%= f.label :details %>
	<%= f.text_field :details %>

	<%= f.submit %> 
<% end %>























