<h1>New Item</h1>

<%= form_for @listings do |f| %> 
	<%= f.label :item %>
	<%= f.text_field :item %>

	<%= f.label :details %>
	<%= f.text_field :details %>

	<%= f.submit %> 
<% end %>























